PORT=
DB_URI=
JWT_SECRET=
JWT_EXPIRE=
EXPIRE_COOKIE=
SMTP_SERVICE=
SMTP_MAIL=
SMTP_PASSWORD=
NODE_ENV=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
cloudinary_cloud_name=
cloudinary_api_key=
cloudinary_api_secret=
